In [108]:
import pandas as pd

In [109]:
data = pd.read_csv("credit-data.csv")

In [110]:
data_key = pd.read_excel("Data Dictionary.xls")

In [111]:
data_key = data_key.iloc[:, 0:3].T.reset_index(drop=True)

In [112]:
data_key

,0,1,2,3,4,5,6,7,8,9,10,11
0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,zipcode,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,Person experienced 90 days past due delinquenc...,Total balance on credit cards and personal lin...,Age of borrower in years,Number of times borrower has been 30-59 days p...,zipcode of the borrower,"Monthly debt payments, alimony,living costs di...",Monthly income,Number of Open loans (installment like car loa...,Number of times borrower has been 90 days or m...,Number of mortgage and real estate loans inclu...,Number of times borrower has been 60-89 days p...,Number of dependents in family excluding thems...
2,Y/N,percentage,integer,integer,interget/string,percentage,real,integer,integer,integer,integer,integer

In [113]:
data_key.rename(columns = data_key.loc[0], inplace = True)

In [114]:
data_key = data_key.drop([0])

In [115]:
data_updated = pd.concat([data, data_key])

In [116]:
data_updated.reset_index(drop = True, inplace = True)

In [117]:
df = pd.concat([data_updated.iloc[41016:41018,:], data_updated.drop([41016,41017], axis=0)], axis=0)

In [118]:
df = df.reset_index(drop = True)

In [120]:
df.head()

,DebtRatio,MonthlyIncome,NumberOfDependents,NumberOfOpenCreditLinesAndLoans,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,PersonID,RevolvingUtilizationOfUnsecuredLines,SeriousDlqin2yrs,age,zipcode
0,"Monthly debt payments, alimony,living costs di...",Monthly income,Number of dependents in family excluding thems...,Number of Open loans (installment like car loa...,Number of times borrower has been 30-59 days p...,Number of times borrower has been 60-89 days p...,Number of times borrower has been 90 days or m...,Number of mortgage and real estate loans inclu...,NaN,Total balance on credit cards and personal lin...,Person experienced 90 days past due delinquenc...,Age of borrower in years,zipcode of the borrower
1,percentage,real,integer,integer,integer,integer,integer,integer,NaN,percentage,Y/N,integer,interget/string
2,505,0,0,2,0,0,0,0,98976.0,1,0,55,60601
3,0.459565,15666,0,7,0,0,0,2,98991.0,0.547745,0,71,60601
4,0.0145204,4200,0,5,0,0,0,0,99012.0,0.0442802,0,51,60601